# Ignore everything
*

# But not this file
!.gitignore

# Include specific top-level folders
!Effects/
!Data/
!README.md

# Ignore everything inside these folders by default
Effects/*
Data/*

# But include all files inside specific subdirectories
!Effects/ix/
!Effects/ix/**
!Data/ix_keymaps/
!Data/ix_keymaps/**
